.top
  .top_header
    .top_header_name
      NETASTOCKS
    .top_header_search
      検索 
      //検索フォーム追加する（曖昧検索）
  .top_main
    .top_main_text
      ネタ在庫一覧
    .top_main_btn
      =link_to "追加",new_item_path
    .top_main_stock
      .top_main_stock_box
        .top_main_stock_box_type
          .type_name
            ネタ名
          .type_capacity
            内容量
          .type_unit
            単位
          .type_quantity
            個数
          .type_place
            場所
          .type_delivery
            納品日
          .type_edit
            編集
        .top_main_stock_box_item
          -# - @item.each do |item|

          .item_name
          
          .item_capacity
            100
          .item_unit
            枚
          .item_quantity
            10個
          .item_place
            リーチ
          .item_delivery
            5月25日
          .item_edit
            =link_to "編集" 